{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "Stmt1508051471000",
      "Effect": "Allow",
      "Action": [
        "rds:DescribeDBLogFiles",
        "rds:DownloadDBLogFilePortion"
      ],
      "Resource": [
        "*"
      ]
    }
  ]
}
